@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.illustration{
    background-image: url(img/pont-alexandre3.png);
    background-size:cover;
    height: 80vh;
}

img {
    max-width: 100%;
    height: auto;
}

header{
    height: 80px;
    background: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    nav{
        opacity: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            display: flex;
            flex-direction: row;
            gap: 55px;
            list-style-type: none;
            margin-right: 25px;
            li{
                margin-top: 25px;
                a{
                    color: black;
                    text-decoration: none;
                    vertical-align: middle;
                }
            }
        }
    }
}

.illustration{
    padding: 30px;
    h1{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 80px;
    }
    hr{
        width: 80%;
        margin: 0 auto;
    }
}
  
.location{
    display: flex;
    flex-direction: row;
    margin: auto;
    #test{
        color: white;
    }
    p{
        color: white;
        margin: auto /* important */;
        margin-left:10px ;
        margin-right: 0px;
        font-size: 1.2em;
    }
    a{
        color: white;
        margin: auto /* important */;
        margin-left:10px ;
        font-size: 1.2em;
    }
}

.logo{
    width: 40px;
    margin-top: 20px;
    margin-left: 25px;
}

.texte-histoire{
    width: 50%;
    margin: auto;
    font-size: large;
    height: 50vh;
    hr{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 80%;
        margin-left: 10%;
    }
}

.stock-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.conteneur-desc{
    margin-top: 30px;
}

.conteneur-desc2{
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 40px;
}

.split{
    width: 50%;
    align-items: center;
    img{
        object-fit: contain;
        width: 100%;
    }
}

.grid-img{
    margin: 40px;
    gap: 20px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 40vh 40vh 40vh;
    .imggrid{
        height: 40vh;
        object-fit: cover;
        width: 40vh;
    }
}

.cards-cool{
    padding: 80px;
}

:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}


/** PAGE STYLING **/


#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}